.indTopicCard {
    display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
    text-align: center; /* Center text horizontally within the div */
  }

  h1 {
    font-size: xx-large;
  }

  .left-comment {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: flex-start !important;
    margin-bottom: 10px;
  }
  
  /* Right-aligned comment */
  .right-comment {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    margin-bottom: 10px;
  }