.register-container {
   
    align-items: center; 
    justify-content: center; 
    height: 80vh; 
  }
  
  .left-content {
    padding-top: -1000;
    
    
    text-align: center; 
 
  }
  
  .right-content {
  margin:auto -500;
   
  }