.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('gradnav2.png'); 
  background-size: 650px;
  margin: 0 0 20px;
  background-color: #dc9428;
  border-radius: 15px;
  overflow: visible;
  height: 48pt;
}

.nav a {
  text-decoration:double;
}

.nav-title {
  font-size: 38px;
  font-weight: 100;
  color: #f2f2f2;
  padding-left: 40px;
  margin: 0;
  background-image: url('TAPLAP_FONT.png');
  background-size: cover;
  padding: auto;;
  image-orientation: flip; 
  overflow: visible;

}

.navLink {
  display:inline-block;
  color: #ffffff;
  /* background-color: #dc9428; */
  /* background-image: url('gradnav2.png');  */
  /* background-size: 750px; */
  text-align:center;
  padding: 0px 60px;
  text-decoration: none;
  font-size: 15x;
  overflow: visible;
 
  

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: none;
  cursor: pointer;
  outline: 0; */
}

.navLink:hover {
  
  color: rgb(255, 255, 255);
  font-size: 20px;
  /* text-decoration:dashed; */
}
